body {
    padding-top: 60px;
}

.post {
    margin: 0.5em;
    margin-bottom: 1em;
}

.post > .arrows {
    float:left;
    height: 32px;
}

.post > .link {
    margin-left: 18px;
}

.post > .link > p {
    margin: 0;
    padding: 0;
}

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}

.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}

.posttag	{
	border:1px solid #acacac;
	border-radius: 20%;
	padding: 2px 5px;
}
