<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block headextra %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">flasknews</a>
            <ul class="nav">
                <li id="nav_list"><a href="/">List</a></li>
                <li id="nav_submit"><a href="/submit">Submit</a></li>
                {% if "username" in session %}
                <li id="nav_logout"><a href="/logout">Logout</a></li>
                {% else %}
                <li id="nav_login"><a href="/login">Login</a></li>
                <li id="nav_signup"><a href="/signup">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>

